<h1>These are your tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %>, <%= task.completed %> <%= link_to 'DEL', task_path(task), method: :delete, data: { confirm: "Are you sure to remove #{task.title}?" }  %>, </li>
  <% end %>
</ul>

<p><%= link_to 'Add a new task', new_task_path %></p>
